In [13]:
import geopandas as gpd
import numpy as np

gdf = gpd.read_file("coordinates.geojson")
# Step 2: Add a new column with random integers between 1 and 5
#gdf['score'] = np.random.randint(1, 6, size=len(gdf))
gdf["id"] = gdf.index
gdf

    id  score                   geometry
0    0      4   POINT (9.70777 54.03548)
1    1      4   POINT (13.3765 52.47189)
2    2      3   POINT (7.99422 52.36472)
3    3      1    POINT (7.2473 50.72574)
4    4      1   POINT (8.54344 49.82737)
..  ..    ...                        ...
95  95      1  POINT (10.42812 51.36831)
96  96      3  POINT (10.42814 51.36816)
97  97      4  POINT (10.42854 51.36814)
98  98      5  POINT (10.42867 51.36803)
99  99      2  POINT (10.42868 51.36785)

[100 rows x 3 columns]

In [14]:
gdf.to_file("coordinates.geojson")

# Tippecanoe conversion

In [26]:
#!tippecanoe -zg -o coordinates.pbf --drop-densest-as-needed coordinates.geojson --force

In [15]:
!tippecanoe -o tilesets/coordinates.mbtiles coordinates.geojson -z24 --drop-rate=1 --force

Highest supported detail with maxzoom 24 is 8
Highest supported low detail with maxzoom 24 is 9
For layer 0, using name "coordinates"
100 features, 2223 bytes of geometry and attributes, 401 bytes of string pool, 0 bytes of vertices, 0 bytes of nodes
  99.9%  24/8874131/5588517